.App {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 60px;
  padding-right: 60px;
}
.hotel-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 68px 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 108px;
}
.filter {
  display: flex;
  justify-content: flex-end;
}
